<?xml version="1.0" encoding="UTF-8"?><config>
  <!--+
      | plugin.core:PLUGINS_CORE_SYSTEM_CONFIG_CATEGORY
      +-->

  <!-- plugin.core:PLUGINS_CORE_DEBUG_GROUP -->
  <runtime.cache.xslt>false</runtime.cache.xslt>
  <runtime.debug.ui>0</runtime.debug.ui>
  <runtime.skip-browser-compatibility-test>false</runtime.skip-browser-compatibility-test>
  <!-- plugin.core:PLUGINS_CORE_UPLOAD_CONFIG_GROUP -->
  <runtime.upload.max-size>10485760</runtime.upload.max-size>
  <runtime.upload.dir>WEB-INF/data/uploads</runtime.upload.dir>

  <!--+
      | plugin.core:PLUGINS_CORE_MAIL_CONFIG_CATEGORY
      +-->

  <!-- plugin.core:PLUGINS_CORE_MAIL_CONFIG_ADDRESS_GROUP -->
  <smtp.mail.from>sender@ametys.org</smtp.mail.from>
  <smtp.mail.sysadminto/>
  <!-- plugin.core:PLUGINS_CORE_MAIL_CONFIG_GROUP -->
  <smtp.mail.host>mail</smtp.mail.host>
  <smtp.mail.port>25</smtp.mail.port>
  <smtp.mail.user/>
  <smtp.mail.password/>
</config>
